<%- include('./includes/header') %> 
<section class="page-section">
	<div class='container'>
		<div class='row'>
			<div class='col-12'>
				<h1><%= title %></h1>
				<p>This is a sample application to demonstrate sequelize crud operations</p>
				<p>
					The code for this can be cloned at <code><a href="https://github.com/e1cerebro/sequelizecrud" target="_blank">https://github.com/e1cerebro/sequelizecrud</a></code>
				</p>
			</div>
		</div>
	</div>
</section>
<%- include('./includes/footer') %> 



