
.page-section{
	min-height: 60vh;
	padding: 4rem 1rem;
}
a.nav-link.active.create-user {
    color: sandybrown !important;
}

.section-title{
	text-align: center;
	color: #fff;
	border-bottom: 8px solid sandybrown;
	padding: 1.5rem;
    background: #212529;
    margin-bottom: 2rem;
}

.create-user-form{
	border: 1px solid #c3c3c3;
	padding: 2rem;
}

table th{
	text-align: center;
}


.footer-container{
	text-align: center;
}

.user-info:not(:last-child){
	margin-bottom: 0.5rem;
}
